.linha{
  display: flex;
  margin-top: 40px;
  margin-bottom: auto;
  justify-content: space-between;

}

h1{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(4, 8, 245);
}
h2{
  text-align: center;
  font-style:normal;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 255, 0.678);
}

.App{
  margin: 0 auto;
  max-width: 900px;
 
}

div{
  color: rgb(6, 6, 240);
  
}




